
header {
    background-color: #0097a7;
    height: 75px;
    width: 100%;
}

#logoID {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    margin-left: 31px;
    padding-top: 10px;
} 

#logo-a {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    text-decoration: none; 
}

main {
    margin: 0 auto;
    width: 100%;
}

section#text-container > div > p {
    font: 1.2em "segoe ui", arial, sans-serif;
}

section#report-container {
    height: calc(0.5625 * 61vw); /* 16:9 aspect ratio */
}

@media only screen and (max-width: 575px) {
    section#report-container {
        height: calc(0.5625 * 100vw); /* 16:9 aspect ratio */
    }
}

footer > p {
    font: 1em "segoe ui", arial, sans-serif;
}

iframe {
    border: none;
}

#right-p {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    margin-right: 31px;
    padding-top: 20px;
    position: absolute;
    right: 0px;
}