<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Kaiser-Deloitte-Chatbot</title>
</head>

<body>
    <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow cyan darken-2">
        
        <p id="logoID">
            <a id="logo-a" href="http://localhost:3000">Kaiser Deloitte</a>
            <!-- <a id="logo" href="http://localhost:3000">Kaiser Deloitte</a> -->
        </p>
        <p id="right-p">
            Power BI
        </p>

    </header>
    <main class="row">
        <section id="text-container" class="embed-container col-lg-4 col-md-4 col-sm-4 mb-5 ml-5 mt-5">
            <div>
               <p>
                   A report using the Exception details.
               </p>
            </div>
        </section>
        <section id="report-container" class="embed-container col-lg-offset-4 col-lg-7 col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7 mt-5">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/powerbi.min.js"></script>
    <script src="../public/js/index.js"></script>

</body>

</html>